/*

!.gitignore
!.gitconfig
!.zshrc
!.emacs
!memo

!.emacs.d/
.emacs.d/*
!.emacs.d/lisp/
.emacs.d/lisp/*

!*.el

!.i3/
.i3/*
!.i3/config

!.config/
.config/*

!.config/i3status/
.config/i3status/*
!.config/i3status/config

!.config/redshift/
.config/redshift/*
!.config/redshift/redshift.conf

!.workspaces/
.workspaces/*

!*.json
stamp.json

!.bin/
.bin/*

!*.sh

