/*

!.gitignore
!.zshrc
!.emacs

!.emacs.d/
.emacs.d/*
!.emacs.d/lisp/

!.config/
.config/*
!.config/i3/
.config/i3/*
!.config/i3/config

!.config/i3status/
.config/i3status/*
!.config/i3status/config

!bin/
bin/*
!bin/my_status.sh
!bin/touchpad_toggle.sh

!workspaces/
workspaces/*
!workspaces/1nternet.json
!workspaces/2rectory.json
