/*

!.emacs
!.emacs.d/
.emacs.d/*
!.emacs.d/lisp/

!.config/
.config/*

!.config/i3/
.config/i3/*
!.config/i3/config

!.config/i3status/
.config/i3status/*
!.config/i3status/config

!1nternet.json
!2rectory.json
!.gitignore